body {
  background-color: gray;
}

/* input {
  height: 30px;
  width: 100px;
} */

li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin: 10px;
  padding-inline: 10px;
  border-radius: 5px;
}

.actionsContainer {
  display: flex;
  gap: 5px;
}
.actionsContainer i {
  cursor: pointer;
}

.actionsContainer .fa-trash {
  color: #ff0000a2;
}
